@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
html {
  box-sizing: border-box;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

/* Video Background */
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
  }
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar {
    padding: 10px 0px;
    background-color: rgba(82, 115, 167, 0.7);
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 30px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .navbar-item {
    text-align: center;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.05);
  }
  
/* Container */
#container {
    min-width: 580px;
    min-height: 304px;
    color: black;
    margin: 0 auto;
    padding: 25px 50px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
  }

  .single-container {
    min-width: 580px;
    min-height: 304px;
    min-width: 400px;
    min-height: 245px;
    color: black;
    margin: 0 auto;
    padding: 25px 50px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .input-container {
    position: relative;
    top: 20px;
  }

  .add-button {
    color: white;
  }
  .add-button:hover {
    color: black;
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.05);
  }

  h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

/* Modal */
.modal-container {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .show-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .modal {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-width: 95%;
    width: 500px;
    animation: modalopen 1s;
  }

  @keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .close-icon {
    float: right;
    color: white;
    font-size: 24px;
    position: relative;
    top: 13px;
    right: 13px;
    cursor: pointer;
  }
  
  .modal-header {
    background-color: rgb(82, 115, 167);
    color: white;
    padding: 5px;
  }





















